* {
  margin: 0px;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  font-size: 150px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c0cfdb;
}

.mainContainer {
  width: 70dvw;
}

.sectionOne,
.sectionTwo,
.sectionThree,
.sectionFour,
.sectionFive {
  height: 700px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 200px;
  height: 50%;
}

h1 {
  position: absolute;
  transform: translateY(-130px);
  /* transform: scale(2); */
}

::-webkit-scrollbar {
  width: 12px;
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #c0cfdb;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: rgba(226, 1, 1, 0.869); /* semi-transparent thumb */
  border-radius: 6px;
}

/* Optional: Style the scrollbar corner */
::-webkit-scrollbar-corner {
  background-color: #c0cfdb;
}
